/* ##################################################### */
/*                        Index.html
/* ##################################################### */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    background-color: #00083f;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/* ########################## body ########################## */
body {
    width: 50%;
    margin: 0 auto;
}

/* ########################## container ########################## */
.container {
	padding: 16px;
}
/* ########################## header ########################## */
header {
	display: flex;
	flex-direction: row;
	margin-bottom: 16px;
	padding: 8px;
	background: linear-gradient(to right, #00083f, #767989, #ff1d37);
    border-radius: 15px;
	color: white;
}
header img {
    width: 20%;
    border: 1px solid;
    padding: 10px;
    border-radius: 15px 2px;
    object-fit: cover;    
}
header h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: none;
  }
/* ########################## main ########################## */
main {
    display: flex;
    flex-direction: column;
}
/* ########################## section ########################## */
section {
    margin-bottom: 20px;
}
section h2 {
    color: white;
    border-top: 1px solid white;
    padding: 10px;
}

/* ########################## best-movie-card ########################## */
.column-best-movie-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  
    .raw-best-movie-card {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 100%;
        align-items: center;
        }
    .raw-best-movie-card img {
        width: 25%;
        padding: 20px;
        background: none;
        border-radius: 25px;

        order: 1           
        }
        .raw-column-best-movie-card {
            display: flex;
            flex-direction: column;
            order: 2
        }
        .raw-column-best-movie-card h3 {
            font-style: italic;
            text-decoration: underline;
            text-underline-offset: 7px;
        }
        .raw-column-best-movie-card p {
            width: 50%;
        }

        .raw-column-best-movie-card button {
            width: 25%;
            height: 32px;
            border-radius: 5px;
            background: linear-gradient(to right, #00083f, #767989);
            color: white;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .raw-column-best-movie-card button:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        }
/* ########################## top-rated-movies-list ########################## */        
.column-top-rated-movies-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    .raw-top-rated-movies-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }
        .details-item {
            display: flex;
            flex-direction: column;
            width: 33%;
            align-items: center;
        }
        .details-item h3 {
            width: 100%;
            font-style: italic;
            text-decoration: underline;
            text-underline-offset: 7px;
            text-align: center;
        }
        .details-item img {
            width: 60%;
        }
        .details-item button {
            width: 33%;
            height: 32px;
            margin-top: 10px;
            border-radius: 5px;
            background: linear-gradient(to right, #00083f, #767989);
            color: white;
            border: none;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .details-item button:hover {
            transform: scale(1.15);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        }
    
/* ########################## category ########################## */
.column-category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-raw-list-movies-category1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
}

.column-raw-list-movies-category2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
}

.column-raw-list-movies-category3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}