/* ################################################################################################################# */
/* ################################################## MEDIUM.CSS #################################################### */
/* ################################################################################################################# */
    
/* DESKTOP - 4K++ */
@media(min-width: 1440px) {
/* DESKTOP */
.container {
    width: 90%;
}
    /* HEADER */
    header {
        height: 100px;
    }
    header a {
        height: 100px;
    }

    .best-movies__card:nth-child(2)::after {
        width: 50%; /* Appliquer à la deuxième carte */
    }
}     
