/* ################################################################################################################# */
/* ################################################## LARGE.CSS #################################################### */
/* ################################################################################################################# */
    
/* DESKTOP */
@media(min-width: 1280px) {

/* DESKTOP */
.container {
    width: 85%;
    margin: 0 auto;
  }
h2 {
    font-size: 34px;
    text-align: inherit;
}

h3 {
    font-size: 24px;
}
.best-movies__card h3:nth-child() {
    padding-left: 100px;
}
    /* MEILLEUR FILM */
    .best-movie__card {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .best-movie .details .title-container h2 {
        padding: inherit
    }
    .best-movie__card h2 {
        padding-left: 10px;
    }

    /* MEILLEUR FILMS */
    .best-movies__card {
        width: 33.33%;
    }
    .best-movies__card img {
        height: 300px;
    }
    .best-movies__card.hidden {
        display: flex;
    }
    .best-movies__card::after {
        width: 94.8%;
    }
    .best-movies__card:nth-child(2) h3,
    .best-movies__card:nth-child(5) h3 {
        padding-left: 23px;
    }
    .best-movies__card:nth-child(2) {
        padding-right: 18px;
    }
    .best-movies__card:nth-child(3) {
        padding-left: 18px;
        padding-right: inherit;
    }
    .best-movies__card:nth-child(4) {
        padding-left: inherit;
        padding-right: 18px;
    }
    .best-movies__card:nth-child(5) {
        padding-left: 18px;
    }
    .best-movies__card:nth-child(2)::after,
    .best-movies__card:nth-child(5)::after {
        width: 89.9%;
    }
    .best-movies__card:nth-child(1) button, 
    .best-movies__card:nth-child(5) button {
        left: 60%
    }
    .best-movies__card:nth-child(3) button,
    .best-movies__card:nth-child(6) button {
        left: 65%
    }

    /* CATEGORY */

    .category__card {
        width: 33.33%;
    }  
    .category__card.hidden {
        display: flex;
    }
    .category__card::after {
        width: 94.8%;
        }
    .category__card:nth-child(2) h3,
    .category__card:nth-child(5) h3 {
        padding-left: 23px;
    }
    .category__card:nth-child(2) {
        padding-right: 18px;
    }
    .category__card:nth-child(3) {
        padding-left: 18px;
        padding-right: inherit;
    }
    .category__card:nth-child(4) {
        padding-left: inherit;
        padding-right: 18px;
    }
    .category__card:nth-child(5) {
        padding-left: 18px;
    }
    .category__card:nth-child(2)::after,
    .category__card:nth-child(5)::after {
        width: 89.9%;
    }
    .category__card:nth-child(1) button, 
    .category__card:nth-child(5) button {
        left: 59%
    }
    .category__card:nth-child(3) button,
    .category__card:nth-child(6) button {
        left: 64%
    }
    /* DETAILS */
    .details h2 {
        width: 60%;
    }
    .best-movie .details {
        width: 778px;
        height: 939px;
        left: 20%;
        padding: 30px;
        padding-top: 50px;
    }
    .best-movie .details img {
        position: absolute;
        width: 227px;
        height: 334px;
        left: 60%;
    }
    .best-movie .details .director {
        margin-top: 50px;
        margin-bottom: 70px;
    }
    .best-movies .details {
        width: 778px;
        height: 939px;
        left: 20%;
        padding: 30px;
        padding-top: 50px;
    }
    .best-movies .details img {
        position: absolute;
        width: 227px;
        height: 334px;
        left: 60%;
    }
    .best-movies .details .director {
        margin-top: 50px;
        margin-bottom: 70px;
    }
    .best-movies__card:nth-child(1) .details,
    .best-movies__card:nth-child(4) .details {
        left: 50%;
    }
    .best-movies__card:nth-child(2) .details,
    .best-movies__card:nth-child(5) .details {
        left: -50%
    }
    .best-movies__card:nth-child(3) .details,
    .best-movies__card:nth-child(6) .details {
        left: -150%;
    }
    .category .details {
        width: 778px;
        height: 939px;
        left: 20%;
        padding: 30px;
        padding-top: 50px;
    }
    .category .details img {
        position: absolute;
        width: 227px;
        height: 334px;
        left: 60%;
    }
    .category .details .director {
        margin-top: 50px;
        margin-bottom: 70px;
    }
    .category__card:nth-child(1) .details,
    .category__card:nth-child(4) .details {
        left: 50%;
    }
    .category__card:nth-child(2) .details,
    .category__card:nth-child(5) .details {
        left: -50%
    }
    .category__card:nth-child(3) .details,
    .category__card:nth-child(6) .details {
        left: -150%;
    }
    /* BTN */
    .btn-show-more {
        display: none;
    }

    /* DETAILS */
    .details p:nth-of-type(2) {
        margin: 3px;
        margin-top: 15px;
    }
}
    
