/* ################################################################################################################# */
/* ################################################## MEDIUM.CSS #################################################### */
/* ################################################################################################################# */
    
/* DESKTOP + */
@media(min-width: 1440px) {
/* DESKTOP */

    /* HEADER */
    header {
        height: 100px;
    }
    header a {
        height: 100px;
    }
    .best-movie .details { 
        left: 25%;
    }
    .best-movies__card img {
        height: 400px;
    }
    .category__card img {
        height: 400px;
    }
}

/* DESKTOP + 4K++ */
@media (min-width: 1920px) {
    .container {
        max-width: 1440px;
    }
    .best-movie .details { 
        left: 32%;
    }
    .best-movies__card::after {
        width: 96.5%;
    }
    .best-movies__card:nth-child(2)::after {
        width: 93.1%;
    }
    .best-movies__card:nth-child(5)::after {
        width: 93.1%;
    }
    .best-movies__card img {
        height: 470px;
    }

    .category__card::after {
        width: 96.5%;
    }
    .category__card:nth-child(2)::after {
        width: 93.1%;
        }
    .category__card:nth-child(5)::after {
        width: 93.1%;
    }
    .category__card img {
        aspect-ratio: 1/1;
    }
  }