<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JusteStreamIt</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <script type="module" src="../js/api.js" defer></script>

</head>

<body>
    <div class="container">
        <header>
            <img src="../imgs/image.png" alt="LOGO">
            <h1>Video a la demande</h1>
        </header>
        <main>
            <section class="column-best-movie-card">
                <h2>meilleur film</h2>
                <div class="raw-best-movie-card">
                    <div class="raw-column-best-movie-card">
                    </div>
                </div>
                <button class="btn-details">Détails</button>
            </section>

            <section class="column-top-rated-movies-list">
                <h2>Film les mieux noté</h2>
                    <div  class="raw-top-rated-movies-list">
                    </div>
           
            </section>

            <section class="category">
                <h2>Comédie</h2>
                <div class="list-movies-category1"></div>
            </section>

            <section class="category">
                <h2>Action</h2>
                <div class="list-movies-category2"></div>
            </section>

            <section class="category">
                <h2>Horreur</h2>
            </section>
            <div class="list-movies-category3"></div>
        </main>
    </div>
</body>

</html>